.table{  
border-collapse: collapse;
width: 100%;
align-content: vertical;

}
th,td{
    display: block;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color:#f2f2f2;
}